@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#imprint img{
	display: block;
	height: 4em;
    width: auto;
	margin: 0 auto;
	width: auto;
}

#colophon[epub|type~="colophon"] p{
	line-height: 1;
	margin: 0.5em;
}

#colophon p + p::before{
	display: none;
}

#colophon hr{
	margin: 0.5em auto;
	padding: 0;
}

#colophon img{
	display: block;
	height: 15em;
    width: auto;
	margin: 0 auto 0.5em auto;
	width: auto;
}

#uncopyright{
	text-align: center;
}

#uncopyright img{
	display: block;
	height: 7em;
    width: auto;
	margin: 0 auto;
	width: auto;
}

#uncopyright p{
	margin: 1em auto 0 auto;
	width: fit-content;
	width: fit-content;
}
